@import "basic";

.team .list-group .list-group-item {
  border-style: none;
}

.vote-form {
  margin: 20px 0;
}

.btn-success {
  margin: 10px 0;
}

.item-description {
  margin: 0 0 10px;
  padding: 0;
  border-style: none;
  background-color: inherit;
  font-size: inherit;
}